<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxj.work.mapper.TurnUserMapper">
  <resultMap id="BaseResultMap" type="com.wxj.work.entity.TurnUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="turn_user_id" jdbcType="BIGINT" property="turnUserId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
  </resultMap>
  <resultMap id="UserResultMap" type="com.wxj.work.entity.User">
    <id column="number" jdbcType="BIGINT" property="number" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, turn_user_id, company_id
  </sql>
  <select id="selectByExample" parameterType="com.wxj.work.entity.TurnUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from turn_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from turn_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from turn_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wxj.work.entity.TurnUserExample">
    delete from turn_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wxj.work.entity.TurnUser">
    insert into turn_user (id, user_id, turn_user_id, 
      company_id)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{turnUserId,jdbcType=BIGINT}, 
      #{companyId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wxj.work.entity.TurnUser">
    insert into turn_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="turnUserId != null">
        turn_user_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="turnUserId != null">
        #{turnUserId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wxj.work.entity.TurnUserExample" resultType="java.lang.Long">
    select count(*) from turn_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update turn_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.turnUserId != null">
        turn_user_id = #{record.turnUserId,jdbcType=BIGINT},
      </if>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update turn_user
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      turn_user_id = #{record.turnUserId,jdbcType=BIGINT},
      company_id = #{record.companyId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wxj.work.entity.TurnUser">
    update turn_user
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="turnUserId != null">
        turn_user_id = #{turnUserId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wxj.work.entity.TurnUser">
    update turn_user
    set user_id = #{userId,jdbcType=BIGINT},
      turn_user_id = #{turnUserId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryCommonTurnUserList" resultMap="UserResultMap">
    select * from user where number in(select turn_user_id from turn_user where user_id=#{number});
  </select>

  <select id="queryTurnUserList" resultType="java.util.Map">
    select * from turn_user left join user on turn_user.user_id=user.number where turn_user.user_id=#{number} and turn_user.company_id=(select user.company_id from user where number=#{number});
  </select>

  <!--查询是否已添加常用移交人-->
  <select id="queryisCTUinList" resultMap="BaseResultMap">
    select * from turn_user where user_id=#{userId} and turn_user_id=#{turnUserId} and company_id=#{companyId};
  </select>

  <!--添加常用移交人-->
  <insert id="insertCommonTUrnUser" parameterType="com.wxj.work.entity.TurnUser">
    insert into turn_user values (0,#{userId},#{turnUserId},#{companyId})
  </insert>

  <!--删除常用移交人-->
  <delete id="deleteCommonTurnUser" parameterType="com.wxj.work.entity.TurnUser">
    delete from turn_user where user_id=#{userId} and turn_user_id=#{turnUserId} and company_id=#{companyId};
  </delete>
</mapper>