<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司员工</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui-v2.6.4/layui/css/layui.css"  media="all">
</head>
<body>
<table id="companyUser" lay-filter="test"></table>


<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script src="/layui-v2.6.4/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var $=layui.jquery;
        var table = layui.table;
        var temp=window.location.href.split('?')[1];
        var pram = new URLSearchParams('?'+temp);
        var number=pram.get("username");
        var password=pram.get("password");
        var companyId=pram.get("companyId");
        //第一个实例
        table.render({
            elem: '#companyUser'
            ,where:{
                number :number
            }
            ,height: 312
            ,method: 'POST'
            ,contentType:'application/json;charset=UTF-8'
            ,defaultToolbar: []
            ,url: '/user/queryCompanyAllUser' //数据接口
            ,page: true //开启分页
            ,title: '公司用户表'
            ,cols: [[ //表头
                {field: 'number', title: '账号', width:80, sort: true, fixed: 'left'}
                ,{field: 'employeeId', title: '雇员id', width:80}
                ,{field: 'realname', title: '姓名', width:80}
                ,{field: 'right', title: '操作', width: 150, toolbar: '#operation'}
            ]]
            ,parseData: function (result){
                return{
                    "code": 0,
                    "msg": result.msg,
                    "count": result.detail.length,
                    "data":result.detail
                }
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'addEmployee':
                    layer.open({
                        type: 1,
                        title:"添加员工",
                        area:['50%','50%'],
                        btn: ['添加', '取消'],
                        content: $("#addUserLayerOpen")
                    });
                    break;
            };
        });
        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            var userNumber=data.number;
            //var checkStatus = table.checkStatus('idTest'); //idTest 即为基础参数 id 对应的值

            //console.log(checkStatus.data) //获取选中行的数据
            //console.log(checkStatus.data.length) //获取选中行数量，可作为是否有选中行的条件
            //console.log(checkStatus.isAll ) //表格是否全选
            //console.log(obj)

            if(obj.event === 'del'){
                layer.confirm('真的删除么', function(index){
                    obj.del();
                    $.ajax({
                        type: 'POST',
                        url: '/user/delCompanyId',
                        contentType:'application/json;charset=UTF-8',
                        data:JSON.stringify({
                            "number":userNumber
                        }),
                        dataType: "json",
                        success: function (result) {
                            //var newData=JSON.stringify(result);
                            //var msg=newData.msg;
                            //alert(result.msg);
                            if(result.msg="删除用户成功"){
                                layer.msg("删除用户成功");
                            }else {
                                layer.msg("删除用户失败");
                            }

                        }
                    })
                    layer.close(index);
                });
            }
        });

    });

</script>
</body>
</html>