<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link href="layui-v2.6.4/layui/css/layui.css"  rel="stylesheet">
</head>
<body>
<div class="layui-container" style="height: 100%">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 6%">
        <legend style="margin-left: 40%"><span style="font-weight: bold;font-size:22px;">公司管理</span></legend>
    </fieldset>

    <div class="layui-row">
        <div class="layui-col-xs3">
            <div class="grid-demo grid-demo-bg1">
                &nbsp;
            </div>
        </div>
        <div class="layui-col-xs6">
            <div class="grid-demo">
                <form id="useLogin" class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-inline">
                            <input id="username" name="username" lay-verify="required" autocomplete="off" class="layui-input" type="tel"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密&nbsp;&nbsp;码</label>
                        <div class="layui-input-inline">
                            <input id="password" name="password" lay-verify="required" autocomplete="off" class="layui-input" type="password"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">公司id</label>
                        <div class="layui-input-inline">
                            <input id="companyId" name="companyId" lay-verify="required" autocomplete="off" class="layui-input" type="tel"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" type="reset">重置</button>
                            <button id="loginBtn"  class="layui-btn layui-btn-primary" lay-fliter="*" type="button" >登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--script type="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js" lay-filter="login"  src="layui-v2.6.4/layui/layui.js"-->
<script src="layui-v2.6.4/layui/layui.js"></script>
<script type="text/javascript" >
    layui.use(["jquery","layer","form"],function(){
        var $ = layui.$,layer = layui.layer,form = layui.form;
        $("#loginBtn").click(function (){
            var number = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var companyId = document.getElementById("companyId").value;
            if(number !="" && password !="" && companyId !=""){
                $.ajax({
                    type: 'POST', //post传输
                    url: '/user/adminLogin', //通信地址
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify({
                        "number": number,
                        "password": password,
                        "companyId": companyId
                    }), //发送到服务器的数据
                    dataType: "json", //服务器传回页面的数据类
                    success: function (result) {
                        //var newData=JSON.stringify(result);
                        //var msg=newData.msg;
                        //alert(result.msg);
                        if(result.msg=="管理员登录成功"){
                            window.location.href="index"+"?username="+number+"&password="+password+"&companyId="+companyId;
                        }else{
                            alert("账号或密码错误");
                        }

                    }
                });
            }else{
                alert("登录失败")
            }
        });


        //$("#loginBtn").click(function (){
            //var number = document.getElementById("username").value;
            //var password = document.getElementById("password").value;
            //var companyId = document.getElementById("companyId").value;
            //$.ajax({
            //    type: 'POST', //post传输
            //    url: '/user/adminLogin', //通信地址
            //    data: {"number": number, "password": password, "companyId": companyId}, //发送到服务器的数据
            //    dataType: "json", //服务器传回页面的数据类
            //    success: function (result) {
            //        layer.msg(result);
            //        var newData = JSON.parse(result);
            //        console.log(newData)
            //        if (newData.msg = "管理员登录成功") {
            //            alert("管理员登录成功");
            //        } else {
            //            alert("管理员登录失败")
            //        }
            //    }
            //});
    });
        //});
        //$(document).on('click','loginBtn',function (){
        //    //表单取值
        //    //var number = document.getElementById("username").value;
        //    //var password = document.getElementById("password").value;
        //    //var companyId = document.getElementById("companyId").value;
        //    console.log("123");
        //});
            //$.ajax({
            //    type: 'POST', //post传输
            //    url: '/user/adminLogin', //通信地址
            //    data: {"number": number, "password": password, "companyId": companyId}, //发送到服务器的数据
            //    dataType: "json", //服务器传回页面的数据类型 text，json
            //    success: function (result) {
            //        layer.msg(result);
            //        //var newData=JSON.parse(result);
            //        //console.log(newData)
            //        //if(newData.msg="管理员登录成功"){
            //        //    alert("管理员登录成功");
            //        //}else {
            //        //    alert("管理员登录失败")
            //        //}
            //    }
            //});
    //});
</script>
</body>
</html>